# From train original data to Train_balanced / Test_59_41

In [2]:
import pandas as pd
import numpy as np
import os
import shutil
from os.path import exists

In [3]:
# Define full path and load dataframe with the original data
source_path = '/home/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/'
labels = pd.read_csv('../raw_data/train_labels.csv')
total_images = labels['id'].nunique()
total_images

220025

In [4]:
total_count_labels = labels.groupby(by='label').count()
total_count_labels

           id
label
0      130908
1       89117

In [5]:
total_0 = total_count_labels.iloc[0][0]
total_1 = total_count_labels.iloc[1][0]
percent_0 = total_0 / total_images
percent_1 = total_1 / total_images
print(f' prop 0: {percent_0} /prop 1: {percent_1}')

 prop 0: 0.5949687535507329 /prop 1: 0.40503124644926713

In [6]:
total_0

130908

In [7]:
total_1

89117

# Function to create TEST split (20%)- DO ONCE

In [11]:
split_perc = 0.2
n_samp_0 = int(split_perc * total_0)
n_samp_1 = int(split_perc * total_1)

source_path_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/0'
destination_path_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/0'

source_path_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/1'
destination_path_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/1'

test_label_0 = labels[labels['label']==0].sample(n_samp_0,random_state=72)
test_label_1 = labels[labels['label']==1].sample(n_samp_1,random_state=72)

train_label_0 = labels[labels['label']==0].drop(test_label_0.index)
train_label_1 = labels[labels['label']==1].drop(test_label_1.index)

# Do it once
# for index,row in test_label_0.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_0,file+'.tif')
#     destination_file = os.path.join(destination_path_0,file+'.tif')
#     shutil.move(source_file,destination_file)
    
# for index,row in test_label_1.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_1,file+'.tif')
#     destination_file = os.path.join(destination_path_1,file+'.tif')
#     shutil.move(source_file,destination_file)

In [12]:
test_label_0

                                              id  label
479     64abfa0ab14ac59c9d762155a760c887ba975144      0
205758  dcc8e2d650066710efea54c9e8bcb4fde8cd25e0      0
105569  b05fefd0de0a96f86c53db4b4c431d6e23ef49f1      0
219718  c67948c8efc535a639c07e0a8d386228e924d8f9      0
198984  65ca1b611e9132e60b396b5b64c750ff088a7f37      0
...                                          ...    ...
71030   af54ce01efb13177b87a5b25c67056589eb90434      0
76013   a6cf4fd56a2542635f3f1a22f580bd8de65af9f8      0
139721  93e90d936b3301216e24d3683bef5cf74ab18743      0
203668  1251620b441f9316da02e2edc7073e4c4234d1d0      0
134459  e22ebbd513bb880487b8f0f3c04250e1d33134de      0

[26181 rows x 2 columns]

In [13]:
test_label_1

                                              id  label
57981   0be0119eee85684b5bb203f743f16cf4dcfdd77d      1
184232  25003a215deb20384a63d963b4e40a946ed8d958      1
123259  0555f297c34fcda2481d6a33cc0e388d39f35535      1
188454  b51eb81dccd4d0fd8ddf09a871233c2bc6686a67      1
176661  29fe487c576a7e5172e6cb19241daca0ac36d8b3      1
...                                          ...    ...
57799   c345d90e6f5516b534e9cef78ff4ee8bcdfbc2cf      1
24159   42ac8a7fe4953696a304e2e97735476b1277e9c1      1
111187  8015d6258dd3cb50cec5cfc672d48106942ec50d      1
190344  ed3e8b22473463f7fa1d89513b3f327dec44df80      1
13853   2f71519dcf8f2a4cf306cb834370b94bcddf8a3f      1

[17823 rows x 2 columns]

# Check Folders Train and Test are good

In [14]:
from os import walk

In [15]:
# Check size Train_0 - and check no duplicates
filenames = next(walk(source_path_0), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

104728 True

In [16]:
# Check size Train_1 - and check no duplicates
filenames = next(walk(source_path_1), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

71294 True

In [17]:
# Check size Test_0 - and check no duplicates
filenames = next(walk(destination_path_0), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

26181 True

In [18]:
# Check size Test_1 - and check no duplicates
filenames = next(walk(destination_path_1), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

17823 True

# Creating a Balanced Train set copy: TRAIN_BAL - DO ONCE

In [19]:
source_path_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/0'
destination_path_TRAIN_BAL_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/0'

source_path_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/1'
destination_path_TRAIN_BAL_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/1'

train_label_0_bal = train_label_0.sample(n=71294,random_state=72)
train_label_1_bal = train_label_1

In [20]:
# Copying Train files into TRAIN_BAL - Balanced O - 1 Classes

# for index,row in train_label_0_bal.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_0,file+'.tif')
#     destination_file = os.path.join(destination_path_TRAIN_BAL_0,file+'.tif')
#     shutil.copy(source_file,destination_file)
    
# for index,row in train_label_1.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_1,file+'.tif')
#     destination_file = os.path.join(destination_path_TRAIN_BAL_1,file+'.tif')
#     shutil.copy(source_file,destination_file)

In [100]:
# Check size TRAIN_BAL_0 - and check no duplicates
filenames = next(walk(destination_path_TRAIN_BAL_0), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

71294 True

In [22]:
# Check size TRAIN_BAL_1 - and check no duplicates
filenames = next(walk(destination_path_TRAIN_BAL_1), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

71294 True

In [23]:
train_label_0_bal

                                              id  label
25607   71544a6fd3b4a309eab094f388b18bf76722a8e9      0
3447    6406082112d06f4d7693f2edfeb5b95d9ec67bb4      0
100027  e1352be39946748d701e0b335690607fa9adefb6      0
170757  e03130a7dc57136fc08b079741998d94c57c3f5d      0
25102   d4e8be9c8a2283a2c478fa17eab5bf4a58e0a607      0
...                                          ...    ...
139808  ce1c2c8657c854d9eda6c0d83a19e185d231e21c      0
58702   d9e8b7a40e527ff69dfdfac7eb5e42da2429b7f5      0
176314  677738884d6ce2841b9f225449c44856e9e5e46c      0
76603   3d5c5b60ebf648e737e56106a33508725d39b8b2      0
147301  869d17e0a0867c615b07b8c19738c648e1d418cb      0

[71294 rows x 2 columns]

In [24]:
train_label_1_bal

                                              id  label
1       c18f2d887b7ae4f6742ee445113fa1aef383ed77      1
6       a24ce148f6ffa7ef8eefb4efb12ebffe8dd700da      1
7       7f6ccae485af121e0b6ee733022e226ee6b0c65f      1
11      c3d660212bf2a11c994e0eadff13770a9927b731      1
14      94fa32b29cc1c00403176c0795fffa3cfaa0f20e      1
...                                          ...    ...
220007  9f0c52d1c2d7c46c60caee232a0a480f4522136c      1
220009  29ee01a126a9c32442fb1bcd0110b37b0f6c2964      1
220010  8a25b1632a1859d7b757e912ca673385b64e1b1d      1
220014  309210db7f424edbc22b2d13bf2fa27518b18f5c      1
220021  d4b854fe38b07fe2831ad73892b3cec877689576      1

[71294 rows x 2 columns]

# Check if Train in Test / Test in Train

In [25]:
pd.DataFrame(train_label_0_bal['id'].isin(train_label_1_bal['id'])).value_counts()

id
False    71294
dtype: int64

In [26]:
pd.DataFrame(train_label_1_bal['id'].isin(train_label_0_bal['id'])).value_counts()

id
False    71294
dtype: int64

In [28]:
pd.DataFrame(test_label_0['id'].isin(train_label_0_bal['id'])).value_counts()

id
False    26181
dtype: int64

In [29]:
pd.DataFrame(test_label_1['id'].isin(train_label_1_bal['id'])).value_counts()

id
False    17823
dtype: int64

In [30]:
pd.DataFrame(train_label_0_bal['id'].isin(test_label_0['id'])).value_counts()

id
False    71294
dtype: int64

In [31]:
pd.DataFrame(train_label_1_bal['id'].isin(test_label_1['id'])).value_counts()

id
False    71294
dtype: int64

# Check if train_0_SOURCE in train_0_BAL

In [32]:
pd.DataFrame(train_label_0['id'].isin(train_label_0_bal['id'])).value_counts()

id
True     71294
False    33433
dtype: int64

# Sampling the Train and test Datasets - 5K

In [74]:
# MANUALLY CREATE FOLDERS 5K / 10K etc. with 0/1 and then amend paths below
size = 5000
test_size = 0.2*size
# Sourcing from TRAIN_BAL dataset
source_train_bal_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/0'
source_train_bal_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/1'

# Sourcing from new TEST dataset
source_test_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/0'
source_test_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/1'

# Destination for sample Train
dest_train_bal_0_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_5K/0'
dest_train_bal_1_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_5K/1'

# Destination for new TEST dataset
dest_test_0_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST_5K/0'
dest_test_1_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST_5K/1'

# Picking randdomly from Train_bal labels
train_label_0_bal_5k = train_label_0_bal.sample(n=int(size/2),random_state=72)
train_label_1_bal_5k = train_label_1_bal.sample(n=int(size/2),random_state=72)

# Picking randdomly from Test labels
test_label_sample_0_5k = test_label_0.sample(n=int(test_size*0.59),random_state=72)
test_label_sample_1_5k = test_label_1.sample(n=int(test_size*0.41),random_state=72)

In [58]:
# Copying Train files into Train sample folder
for index,row in train_label_0_bal_5k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_train_bal_0,file+'.tif')
    destination_file = os.path.join(dest_train_bal_0_samp,file+'.tif')
    shutil.copy(source_file,destination_file)
    
for index,row in train_label_1_bal_5k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_train_bal_1,file+'.tif')
    destination_file = os.path.join(dest_train_bal_1_samp,file+'.tif')
    shutil.copy(source_file,destination_file)

In [61]:
# Copying Test files into Test Sample folder
for index,row in test_label_sample_0_5k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_test_0,file+'.tif')
    destination_file = os.path.join(dest_test_0_samp,file+'.tif')
    shutil.copy(source_file,destination_file)
    
for index,row in test_label_sample_1_5k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_test_1,file+'.tif')
    destination_file = os.path.join(dest_test_1_samp,file+'.tif')
    shutil.copy(source_file,destination_file)

# Checks Sizes & duplicates

In [66]:
# Check size Train_0 sample
filenames = next(walk(dest_train_bal_0_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Train_1 sample
filenames = next(walk(dest_train_bal_1_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Test_0 sample
filenames = next(walk(dest_test_0_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Test_1 sample
filenames = next(walk(dest_test_1_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

2500 True

# Overview Dfs

In [50]:
test_label_sample_0_5k

                                              id  label
56958   f6bc643d554f57a38d9cdb34e1e930bfc0303960      0
200500  f9b759bafcd53a7e77fde86dddc2880b514fcde5      0
131658  c1985c5bd47661c367230019726cb22e6d638bbf      0
128765  4afd7e35fd4c8a777d169aa9da77ecdb329f43d9      0
193876  53351e38209e4c4396e308880e9d5b1ba0ae2546      0
...                                          ...    ...
52940   859985aa2ed41419eca07d539cb28962b6bc6fac      0
161240  dc03dd307b9753bb555244be3b1eb60e9c0e1a74      0
208064  0b713bd45515d6949713a6f908f1281d23334f90      0
84365   e9291c4e43b97f461288acececfecdfff8aeead9      0
176467  140886b519402652a5de9a956f864dfa900a2429      0

[590 rows x 2 columns]

In [51]:
test_label_sample_1_5k

                                              id  label
188787  ddce495259d33d45e7b85288b8c08de8028cb89c      1
135355  01681c76a82b89b86452e94dc5debc01867dc8d4      1
108001  dca33b64625d373274a77a0e5e137e8298944cdc      1
61907   98f548d45ec30d99f04fb91cdb2472af64ed54f4      1
108419  6b326df22a3fe46dae1a0945bda164625333d1b5      1
...                                          ...    ...
189415  d1a174d1b4c86a8c71a97f60fa27a382319a501b      1
5133    fca268cb863d05f7fa12fcdec891207a10a85139      1
198512  88f3480ccd8266f14ebcff94fd14dc6667d9a9eb      1
71470   c4e273a9db1ad2b5c2b15c6278a9806382dc1a3e      1
18388   f3937ab8b33f8bb59981eb8f2405e648d933e9a2      1

[410 rows x 2 columns]

In [52]:
train_label_0_bal_5k

                                              id  label
215990  6c6faa70f7bb850eeb5525ee0a6357fbde02babf      0
219196  376679a6badbd607b573a1daa5896026573e8172      0
217872  95efb5fad1ca7cb21707c8ebe28d60e288d593b7      0
152620  626c2b27cd1cfa0fe4ecbe8ac2bdb5c304a36abc      0
91248   da73d83bdec25b0a74645c89f10757a1d1eab268      0
...                                          ...    ...
167657  f89fd2a0bd6d359a9b21eb6bff969e9f77bfb4a9      0
73290   9be62a7d0bb47efc2d743ca2ef41befc8232c285      0
5998    0c6b2165820808672ad347fe641015dc09ac05cb      0
209940  491e21c2fedd0bbc807947ad7033204c1a9d8bb4      0
140452  d8dac64fae1333b36bf6c5696a91cabae433140e      0

[2500 rows x 2 columns]

In [53]:
train_label_1_bal_5k

                                              id  label
53843   4ac75d2edc5bc0a45657fb5ba28c746a189eb12a      1
157077  45d2359f8005741557bc9fb487d89381b5447bde      1
69897   72847c53d779fd084d815a37606407db79ee30f3      1
92580   34cd246dc1e8b6e864b2c6fb41f1b34b930630c9      1
77687   61465541102646bcc6dd89af9f9c140ba3c881d2      1
...                                          ...    ...
210612  05e0acdccdd6f880243ad56fb7c2fd76f0894ee4      1
7411    9380f06b51f3fd4fc9fcb707e033cd30fc35fe8b      1
192794  6121dfad9ef78cd406f174d56ae558ef7089025e      1
54803   e31d7f6575414ad0f60cf8d5258a3961178a4ad1      1
184732  9ba468e13ec9b8282b75ba3ee20d5e1582745aea      1

[2500 rows x 2 columns]

# Sampling Train and Datasets - 10K

In [75]:
# MANUALLY CREATE FOLDERS 5K / 10K etc. with 0/1 and then amend paths below
size = 10000
test_size = 0.2*size
# Sourcing from TRAIN_BAL dataset
source_train_bal_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/0'
source_train_bal_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/1'

# Sourcing from new TEST dataset
source_test_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/0'
source_test_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/1'

# Destination for sample Train
dest_train_bal_0_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_10K/0'
dest_train_bal_1_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_10K/1'

# Destination for new TEST dataset
dest_test_0_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST_10K/0'
dest_test_1_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST_10K/1'

# Picking randdomly from Train_bal labels
train_label_0_bal_10k = train_label_0_bal.sample(n=int(size/2),random_state=72)
train_label_1_bal_10k = train_label_1_bal.sample(n=int(size/2),random_state=72)

# Picking randdomly from Test labels
test_label_sample_0_10k = test_label_0.sample(n=int(test_size*0.59),random_state=72)
test_label_sample_1_10k = test_label_1.sample(n=int(test_size*0.41),random_state=72)

In [76]:
# Copying Train files into Train sample folder
for index,row in train_label_0_bal_10k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_train_bal_0,file+'.tif')
    destination_file = os.path.join(dest_train_bal_0_samp,file+'.tif')
    shutil.copy(source_file,destination_file)
    
for index,row in train_label_1_bal_10k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_train_bal_1,file+'.tif')
    destination_file = os.path.join(dest_train_bal_1_samp,file+'.tif')
    shutil.copy(source_file,destination_file)

In [77]:
# Copying Test files into Test Sample folder
for index,row in test_label_sample_0_10k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_test_0,file+'.tif')
    destination_file = os.path.join(dest_test_0_samp,file+'.tif')
    shutil.copy(source_file,destination_file)
    
for index,row in test_label_sample_1_10k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_test_1,file+'.tif')
    destination_file = os.path.join(dest_test_1_samp,file+'.tif')
    shutil.copy(source_file,destination_file)

# Check size & duplicates

In [80]:
# Check size Train_0 sample
filenames = next(walk(dest_train_bal_0_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Train_1 sample
filenames = next(walk(dest_train_bal_1_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Test_0 sample
filenames = next(walk(dest_test_0_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Test_1 sample
filenames = next(walk(dest_test_1_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

5000 True
5000 True
1180 True
820 True

In [78]:
test_label_sample_0_10k

                                              id  label
56958   f6bc643d554f57a38d9cdb34e1e930bfc0303960      0
200500  f9b759bafcd53a7e77fde86dddc2880b514fcde5      0
131658  c1985c5bd47661c367230019726cb22e6d638bbf      0
128765  4afd7e35fd4c8a777d169aa9da77ecdb329f43d9      0
193876  53351e38209e4c4396e308880e9d5b1ba0ae2546      0
...                                          ...    ...
96241   258ef3977ae89df290f1923710a72afb6bc45d13      0
101515  85a3390c0119c79e78200da32b7d629b66181b72      0
180219  40e132df3186253ce7a65e421d484c0e36669541      0
170839  35259bc6217634ff94cbae0fc3b970e62e5deb16      0
164324  00c49e45b359332f95c4fc1b8504a0a63c043e13      0

[1180 rows x 2 columns]

In [79]:
test_label_sample_1_10k

                                              id  label
188787  ddce495259d33d45e7b85288b8c08de8028cb89c      1
135355  01681c76a82b89b86452e94dc5debc01867dc8d4      1
108001  dca33b64625d373274a77a0e5e137e8298944cdc      1
61907   98f548d45ec30d99f04fb91cdb2472af64ed54f4      1
108419  6b326df22a3fe46dae1a0945bda164625333d1b5      1
...                                          ...    ...
37924   e135dd5be4ef50e2a5a233f9491082d7ec30a1c7      1
27190   21ce6f80fb6ed84e7da8971d677e36da30e60fb8      1
189003  103c0924f06c0f6842864e40a4f5f44f80289b71      1
136626  4788d5a452e95fae5c3422761fa46a9ce5aa35e0      1
96558   5844f868c463d760e47c98c4557f993fcacc7148      1

[820 rows x 2 columns]

In [81]:
train_label_0_bal_10k

                                              id  label
215990  6c6faa70f7bb850eeb5525ee0a6357fbde02babf      0
219196  376679a6badbd607b573a1daa5896026573e8172      0
217872  95efb5fad1ca7cb21707c8ebe28d60e288d593b7      0
152620  626c2b27cd1cfa0fe4ecbe8ac2bdb5c304a36abc      0
91248   da73d83bdec25b0a74645c89f10757a1d1eab268      0
...                                          ...    ...
35801   39775bd0c2f2bf0596a9a67f06432828ca3a18bf      0
79056   4944e138836c93e46befcb1e380438b47ff26d50      0
40290   07288672d5f1268768ad13684bbe469d6ce238a6      0
59012   e636e8a7566dcfe1061934a61ff0781d5a256e25      0
154855  093d8550bf511d97d1a081896699cc3f728bdb1d      0

[5000 rows x 2 columns]

In [82]:
train_label_1_bal_10k

                                              id  label
53843   4ac75d2edc5bc0a45657fb5ba28c746a189eb12a      1
157077  45d2359f8005741557bc9fb487d89381b5447bde      1
69897   72847c53d779fd084d815a37606407db79ee30f3      1
92580   34cd246dc1e8b6e864b2c6fb41f1b34b930630c9      1
77687   61465541102646bcc6dd89af9f9c140ba3c881d2      1
...                                          ...    ...
42678   e3763a5b41f9650c9c0f9c0f0ff49fd7f82bc77c      1
207094  23382f89f5633f8a68dfdab6e2a27de6149de8b8      1
23809   c1197b1d5f9879b2471f7802d8a93707e636770c      1
19687   182415ca2513bd22bbbc91e7e4280876a2eca6ec      1
83233   d2be3c4fa10032b99f433b2cbdc3c65aff977afa      1

[5000 rows x 2 columns]

# Check cross dataframes

## Train checks

In [88]:
pd.DataFrame(train_label_0_bal_5k['id'].isin(train_label_0_bal['id'])).value_counts()

id
True    2500
dtype: int64

In [89]:
pd.DataFrame(train_label_0_bal_10k['id'].isin(train_label_0_bal['id'])).value_counts()

id
True    5000
dtype: int64

In [90]:
pd.DataFrame(train_label_1_bal_5k['id'].isin(train_label_1_bal['id'])).value_counts()

id
True    2500
dtype: int64

In [91]:
pd.DataFrame(train_label_1_bal_10k['id'].isin(train_label_1_bal['id'])).value_counts()

id
True    5000
dtype: int64

## Test checks

In [92]:
pd.DataFrame(test_label_sample_0_5k['id'].isin(test_label_0['id'])).value_counts()

id
True    590
dtype: int64

In [93]:
pd.DataFrame(test_label_sample_0_10k['id'].isin(test_label_0['id'])).value_counts()

id
True    1180
dtype: int64

In [94]:
pd.DataFrame(test_label_sample_1_5k['id'].isin(test_label_1['id'])).value_counts()

id
True    410
dtype: int64

In [95]:
pd.DataFrame(test_label_sample_1_10k['id'].isin(test_label_1['id'])).value_counts()

id
True    820
dtype: int64

# Sampling Train and Datasets - 30K

In [96]:
# MANUALLY CREATE FOLDERS 5K / 10K etc. with 0/1 and then amend paths below
size = 30000
test_size = 0.2*size
# Sourcing from TRAIN_BAL dataset
source_train_bal_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/0'
source_train_bal_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/1'

# Sourcing from new TEST dataset
source_test_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/0'
source_test_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/1'

# Destination for sample Train
dest_train_bal_0_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_30K/0'
dest_train_bal_1_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_30K/1'

# Destination for new TEST dataset
dest_test_0_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST_30K/0'
dest_test_1_samp = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST_30K/1'

# Picking randdomly from Train_bal labels
train_label_0_bal_30k = train_label_0_bal.sample(n=int(size/2),random_state=72)
train_label_1_bal_30k = train_label_1_bal.sample(n=int(size/2),random_state=72)

# Picking randdomly from Test labels
test_label_sample_0_30k = test_label_0.sample(n=int(test_size*0.59),random_state=72)
test_label_sample_1_30k = test_label_1.sample(n=int(test_size*0.41),random_state=72)

In [97]:
# Copying Train files into Train sample folder
for index,row in train_label_0_bal_30k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_train_bal_0,file+'.tif')
    destination_file = os.path.join(dest_train_bal_0_samp,file+'.tif')
    shutil.copy(source_file,destination_file)
    
for index,row in train_label_1_bal_30k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_train_bal_1,file+'.tif')
    destination_file = os.path.join(dest_train_bal_1_samp,file+'.tif')
    shutil.copy(source_file,destination_file)

In [98]:
# Copying Test files into Test Sample folder
for index,row in test_label_sample_0_30k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_test_0,file+'.tif')
    destination_file = os.path.join(dest_test_0_samp,file+'.tif')
    shutil.copy(source_file,destination_file)
    
for index,row in test_label_sample_1_30k.reset_index().iterrows():
    file = row['id']
    source_file = os.path.join(source_test_1,file+'.tif')
    destination_file = os.path.join(dest_test_1_samp,file+'.tif')
    shutil.copy(source_file,destination_file)

In [101]:
# Check size Train_0 sample
filenames = next(walk(dest_train_bal_0_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Train_1 sample
filenames = next(walk(dest_train_bal_1_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Test_0 sample
filenames = next(walk(dest_test_0_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))
# Check size Test_1 sample
filenames = next(walk(dest_test_1_samp), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

15000 True
15000 True
3540 True
2460 True