# From train original data to Train_balanced / Test_59_41

In [2]:
import pandas as pd
import numpy as np
import os
import shutil
from os.path import exists

In [3]:
# Define full path and load dataframe with the original data
source_path = '/home/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/'
labels = pd.read_csv('../raw_data/train_labels.csv')
total_images = labels['id'].nunique()
total_images

220025

In [4]:
total_count_labels = labels.groupby(by='label').count()
total_count_labels

           id
label
0      130908
1       89117

In [5]:
total_0 = total_count_labels.iloc[0][0]
total_1 = total_count_labels.iloc[1][0]
percent_0 = total_0 / total_images
percent_1 = total_1 / total_images
print(f' prop 0: {percent_0} /prop 1: {percent_1}')

 prop 0: 0.5949687535507329 /prop 1: 0.40503124644926713

In [6]:
total_0

130908

In [7]:
total_1

89117

In [36]:
# Function to create TEST files
split_perc = 0.2
n_samp_0 = int(split_perc * total_0)
n_samp_1 = int(split_perc * total_1)

source_path_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/0'
destination_path_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/0'

source_path_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/1'
destination_path_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TEST/1'

test_label_0 = labels[labels['label']==0].sample(n_samp_0,random_state=72)
test_label_1 = labels[labels['label']==1].sample(n_samp_1,random_state=72)

train_label_0 = labels[labels['label']==0].drop(test_label_0.index)
train_label_1 = labels[labels['label']==1].drop(test_label_1.index)

# Do it once
# for index,row in test_label_0.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_0,file+'.tif')
#     destination_file = os.path.join(destination_path_0,file+'.tif')
#     shutil.move(source_file,destination_file)
    
# for index,row in test_label_1.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_1,file+'.tif')
#     destination_file = os.path.join(destination_path_1,file+'.tif')
#     shutil.move(source_file,destination_file)

In [37]:
test_label_0

                                              id  label
479     64abfa0ab14ac59c9d762155a760c887ba975144      0
205758  dcc8e2d650066710efea54c9e8bcb4fde8cd25e0      0
105569  b05fefd0de0a96f86c53db4b4c431d6e23ef49f1      0
219718  c67948c8efc535a639c07e0a8d386228e924d8f9      0
198984  65ca1b611e9132e60b396b5b64c750ff088a7f37      0
...                                          ...    ...
71030   af54ce01efb13177b87a5b25c67056589eb90434      0
76013   a6cf4fd56a2542635f3f1a22f580bd8de65af9f8      0
139721  93e90d936b3301216e24d3683bef5cf74ab18743      0
203668  1251620b441f9316da02e2edc7073e4c4234d1d0      0
134459  e22ebbd513bb880487b8f0f3c04250e1d33134de      0

[26181 rows x 2 columns]

In [38]:
test_label_1

                                              id  label
57981   0be0119eee85684b5bb203f743f16cf4dcfdd77d      1
184232  25003a215deb20384a63d963b4e40a946ed8d958      1
123259  0555f297c34fcda2481d6a33cc0e388d39f35535      1
188454  b51eb81dccd4d0fd8ddf09a871233c2bc6686a67      1
176661  29fe487c576a7e5172e6cb19241daca0ac36d8b3      1
...                                          ...    ...
57799   c345d90e6f5516b534e9cef78ff4ee8bcdfbc2cf      1
24159   42ac8a7fe4953696a304e2e97735476b1277e9c1      1
111187  8015d6258dd3cb50cec5cfc672d48106942ec50d      1
190344  ed3e8b22473463f7fa1d89513b3f327dec44df80      1
13853   2f71519dcf8f2a4cf306cb834370b94bcddf8a3f      1

[17823 rows x 2 columns]

# Check Folders Train and Test are good

In [39]:
from os import walk

In [40]:
# Check size Train_0 - and check no duplicates
filenames = next(walk(source_path_0), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

104728 True

In [41]:
# Check size Train_1 - and check no duplicates
filenames = next(walk(source_path_1), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

71294 True

In [42]:
# Check size Test_0 - and check no duplicates
filenames = next(walk(destination_path_0), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

26181 True

In [43]:
# Check size Test_1 - and check no duplicates
filenames = next(walk(destination_path_1), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

17823 True

# Creating a Balanced Train set copy: TRAIN_BAL

In [44]:
source_path_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/0'
destination_path_TRAIN_BAL_0 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/0'

source_path_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/train/1'
destination_path_TRAIN_BAL_1 = '/Users/chloeguillaume/code/GuillaumeRib/project-cancer-detection/raw_data/TRAIN_BAL/1'

train_label_0_bal = train_label_0.sample(n=71294,random_state=72)
train_label_1_bal = train_label_1

In [45]:
# Copying Train files into TRAIN_BAL - Balanced O - 1 Classes

# for index,row in train_label_0_bal.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_0,file+'.tif')
#     destination_file = os.path.join(destination_path_TRAIN_BAL_0,file+'.tif')
#     shutil.copy(source_file,destination_file)
    
# for index,row in train_label_1.reset_index().iterrows():
#     file = row['id']
#     source_file = os.path.join(source_path_1,file+'.tif')
#     destination_file = os.path.join(destination_path_TRAIN_BAL_1,file+'.tif')
#     shutil.copy(source_file,destination_file)

In [46]:
# Check size TRAIN_BAL_0 - and check no duplicates
filenames = next(walk(destination_path_TRAIN_BAL_0), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

71294 True

In [47]:
# Check size TRAIN_BAL_1 - and check no duplicates
filenames = next(walk(destination_path_TRAIN_BAL_1), (None, None, []))[2] 
print(len(filenames),len(filenames) == len(set(filenames)))

71294 True

In [48]:
train_label_0_bal

                                              id  label
25607   71544a6fd3b4a309eab094f388b18bf76722a8e9      0
3447    6406082112d06f4d7693f2edfeb5b95d9ec67bb4      0
100027  e1352be39946748d701e0b335690607fa9adefb6      0
170757  e03130a7dc57136fc08b079741998d94c57c3f5d      0
25102   d4e8be9c8a2283a2c478fa17eab5bf4a58e0a607      0
...                                          ...    ...
139808  ce1c2c8657c854d9eda6c0d83a19e185d231e21c      0
58702   d9e8b7a40e527ff69dfdfac7eb5e42da2429b7f5      0
176314  677738884d6ce2841b9f225449c44856e9e5e46c      0
76603   3d5c5b60ebf648e737e56106a33508725d39b8b2      0
147301  869d17e0a0867c615b07b8c19738c648e1d418cb      0

[71294 rows x 2 columns]

In [49]:
train_label_1_bal

                                              id  label
1       c18f2d887b7ae4f6742ee445113fa1aef383ed77      1
6       a24ce148f6ffa7ef8eefb4efb12ebffe8dd700da      1
7       7f6ccae485af121e0b6ee733022e226ee6b0c65f      1
11      c3d660212bf2a11c994e0eadff13770a9927b731      1
14      94fa32b29cc1c00403176c0795fffa3cfaa0f20e      1
...                                          ...    ...
220007  9f0c52d1c2d7c46c60caee232a0a480f4522136c      1
220009  29ee01a126a9c32442fb1bcd0110b37b0f6c2964      1
220010  8a25b1632a1859d7b757e912ca673385b64e1b1d      1
220014  309210db7f424edbc22b2d13bf2fa27518b18f5c      1
220021  d4b854fe38b07fe2831ad73892b3cec877689576      1

[71294 rows x 2 columns]

# Check if Train in Test / Test in Train

In [59]:
pd.DataFrame(train_label_0_bal['id'].isin(train_label_1_bal['id'])).value_counts()

id
False    71294
dtype: int64

In [60]:
pd.DataFrame(train_label_1_bal['id'].isin(train_label_0_bal['id'])).value_counts()

id
False    71294
dtype: int64

In [61]:
pd.DataFrame(test_label_0['id'].isin(train_label_0_bal['id'])).value_counts()

id
False    26181
dtype: int64

In [62]:
pd.DataFrame(test_label_1['id'].isin(train_label_1_bal['id'])).value_counts()

id
False    17823
dtype: int64

In [63]:
pd.DataFrame(train_label_0_bal['id'].isin(test_label_0['id'])).value_counts()

id
False    71294
dtype: int64

In [64]:
pd.DataFrame(train_label_1_bal['id'].isin(test_label_1['id'])).value_counts()

id
False    71294
dtype: int64

# Check if train_0_SOURCE in train_0_BAL

In [69]:
pd.DataFrame(train_label_0['id'].isin(train_label_0_bal['id'])).value_counts()

id
True     71294
False    33433
dtype: int64